.infos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-self: center;
}
.infos__subtitle{
    color: #74777D;
    font-size:medium;
}
.infos__title{
    font-size: xx-large;
    margin-top: -1rem;
    font-size: calc(2vw + 16px);
    width: 26vw;
}
.infos__text{
    width: 25vw;
    color: #74777D;
    font-size: large;
}
.infos__price{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.infos__price__current{
    font-weight: bolder;
    font-size: x-large;
}
.infos__price__current__promotion{
    margin-left: 1rem;
    padding: .1rem .4rem;
    border-radius: .4rem;
    background-color: black;
    color: white;
}
.infos__price__old{
    text-decoration: line-through;
}